<!DOCTYPE html>
<html>
<head>
  <title>Wk8day1Maps</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="http://maximeh.github.io/leaflet.bouncemarker/bouncemarker.js"></script>


</head>
<body>
  <div class="container"
    <br>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <% if user_signed_in? %>
        Hi <%= current_user.name %>
        <%= link_to "Sign Out",  destroy_user_session_path, method: :delete, id: "sign_out"  %>
      <% else %>
        <%= link_to user_omniauth_authorize_path(:facebook) do %>
          <%= image_tag "http://sociallygold.com/wp-content/uploads/2014/05/facebook-login-button.png", size: "200x100" %>
        <% end %>
      <% end %>
  </nav>
  <% if user_signed_in? %>
    <%= yield %>
  <% end %>
  </div>
</body>
</html>
